<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="selfView">
      <video id="selfVideoView" muted=true autoplay=true ></video>
      <div id="selfVideoLabel"></div>
    </div>
    <div id="remoteViews"></div>
    <script type="text/javascript">
    var currentUser = "<%= user %>";
    </script>
    <script type="text/javascript" src="/javascripts/hashtable.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/webrtc-meeting.js"></script>
  </body>
</html>